{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    {{ dump(entries) }}
    <ul>
        {% for entry in entries %}
            <li>{{ entry }}</li>
        {% endfor %}
    </ul>
{% endblock %}
