<ul class="nav nav-pills nav-stacked">
    <li role="presentation" ><a href="{{ path('category_index') }}" >Category</a></li>
    <li role="presentation" ><a href="{{ path('job_index') }}" >Job</a></li>
    <li role="presentation" ><a href="{{ path('company_index') }}">Company</a></li>
    <li role="presentation" ><a href="{{ path('address_index') }}" >Address</a></li>
</ul>
